.box {
    background-color: lightgray;
    width: 200px;
    padding: 10px;
    border: 5px solid rebeccapurple;
    margin: 10px;
    height: 150px;
    box-sizing: content-box;
  }
  
  .alternate {
    box-sizing: border-box;
  }